

/*.choose-file-info {
  font-size: 110%;
  span {
    font-weight: normal;
    color: #3667D6;
    :hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}*/

.main-container {
  width: 95%;
  margin: auto;
  box-sizing: border-box;
  background-color: #fff;
}

mat-toolbar {
  background-color: grey !important;
}
