.file-detail {
  padding: 10px 3px;

  button {
    margin-right: 15px;
  }

  span {
    color: grey;
    font-size: 100%;
  }

  mat-icon {
    margin-top: -5px;
  }

  > div:nth-child(1) {
    padding: 0 15px;
  }

  .table-view {
    padding: 20px 30px;
    // border: 0.5px solid lightgray;
  }
}

.mat-header-cell {
  background-color: lightgrey;
  font-size: 90%;
}

mat-form-field {
  width: 50%;
  display: block;
  margin: auto;
}

.slide {
  width: 50%;
  text-align: right;
  margin: -10px auto 10px auto;
  mat-label {
    font-size: 85%;
    margin-right: 10px;
    color: grey;
  }
  mat-slide-toggle {
    display: inline-block;
    position: relative;
    top: 2px;
  }
}

.button-toggle-group {
  width: 50%;
  text-align: center;
  margin: auto;
  margin-bottom: 10px;
}

mat-button-toggle-group {
  height: 40px !important;
}

::ng-deep .mat-button-toggle-label-content {
  height: 40px !important;
  line-height: 40px !important;
  font-size: 90% !important;
}
